export(add_path)
export(as.package)
export(bash)
export(build_vignettes)
export(build_win)
export(build)
export(check_cran)
export(check_doc)
export(check)
export(clean_source)
export(clean_vignettes)
export(dev_meta)
export(dev_mode)
export(devtest)
export(document)
export(get_path)
export(has_devel)
export(imports_env)
export(in_dir)
export(inst)
export(install_bitbucket)
export(install_github)
export(install_gitorious)
export(install_url)
export(install_version)
export(install)
export(is.package)
export(load_all)
export(load_c)
export(load_code)
export(load_data)
export(loaded_packages)
export(missing_s3)
export(ns_env)
export(on_path)
export(parse_ns_file)
export(pkg_env)
export(release)
export(reload)
export(revdep_check)
export(revdep_maintainers)
export(revdep)
export(run_examples)
export(set_path)
export(show_news)
export(show_rd)
export(source_gist)
export(source_url)
export(test)
export(unload)
export(wd)
export(with_collate)
export(with_debug)
export(with_env)
export(with_libpaths)
export(with_locale)
export(with_options)
export(with_par)
export(with_path)
importFrom(httr,config)
importFrom(httr,content)
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(httr,text_content)
importFrom(memoise,memoise)
importFrom(RCurl,ftpUpload)
importFrom(tools,dependsOnPkgs)
importFrom(tools,file_ext)
importFrom(tools,package_dependencies)
importFrom(tools,Rd2txt)
importFrom(utils,install.packages)
